*,
*::before
*::after{
    box-sizing: border-box;
}

*{
    margin: 0%;
    padding: 0%;
    font:inherit;
}
.Menu{
    width:100%;
    border: 5px;
    display: flex;
    flex-wrap:wrap;
    height: 100vh;
}

.block1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    text-align: center;
    background-image: url("https://st3.depositphotos.com/1027198/18538/i/450/depositphotos_185381480-stock-photo-assorted-american-food-served-wooden.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.block-title {
    text-align: center;
}

.block1 img{
    width: 50%;
}
.block1 h1{
    font-size: large;
    color: aliceblue;
    text-align: center;
}
.block1 p{
    color: rosybrown;
    text-align: center;
}

.block2{
    padding: 40px;
    margin: 40px;
    display: block;
    width: 50%;
    background-color: aliceblue;
}
.block2 p {
    margin-bottom: 16px;
}
.icon{
    width: 20%;
    height: 20%;
}
h2{
    color: black;
    padding: 5px;
}
p{
    color: black;
    padding: 5px;
}

input[type='button'] {
    background-color: pink;
    padding: 12px;
}